* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

q {
  font-family: serif;
  font-style: italic;
  padding-right: 50px;
}

footer {
  margin: 20px 0 0 0;
  text-align: center;
}

img {
  max-width: 100%;
}

figure {
  display: inline-block;
}

figure img {
  vertical-align: top;
}

figure figcaption {
  text-align: center;
}

#h3-after-li {
  margin-bottom: 15px;
}

.important {
  font-weight: 800;
}

.bio {
  margin: 0 0 50px 0;
}

.menu {
  margin-bottom: 50px;
}

.menu nav a + a {
  margin: 0 0 0 20px;
}

@media screen and (min-width: 1600px) {
  header {
    margin: 20px 0 0 0;
  }
}
